---
import config from "@config/config.json";
import Base from "@layouts/Base.astro";
import PageHeader from "@partials/PageHeader.astro";
import { getEntryBySlug } from "astro:content";

const entry = await getEntryBySlug("pages", "contacto");
const { contact_form_action } = config.params;
const { title, description, meta_title, image } = entry.data;
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <PageHeader title={title} />
  <section class="section-sm">
    <div class="container">
      <div class="row">
        <div class="mx-auto md:col-10 lg:col-6">
          <form data-netlify="true" name="contact"  method="POST">
            <div class="mb-6">
              <label for="name" class="form-label">
                Nombre <span class="text-red-500">*</span>
              </label>
              <input
                name="name"
                id="name"
                class="form-input"
                placeholder="Escribe aquí tu nombre"
                type="text"
              />
            </div>
            <div class="mb-6">
              <label for="mail" class="form-label">
                Email <span class="text-red-500">*</span>
              </label>
              <input
                name="email"
                id="mail"
                class="form-input"
                placeholder="mail@mail.com"
                type="email"
              />
            </div>
            <div class="mb-6">
              <label for="message" class="form-label">
                Mensaje <span class="text-red-500">*</span>
              </label>
              <textarea
                name="message"
                class="form-input"
                placeholder="Escribe aquí tu mensaje..."
                id="message"
                rows="8"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</Base>
